.page-background {
    background: #fffbf8;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    font-style: normal;
    font-weight: 400;
    color: inherit;
    font-family: "Playfair Display", serif;
}

.main-page {
    margin: auto;
    width: 100%;
    position: relative;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-background {
    margin: auto;
    width: 100%;
    position: relative;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Rozkłada elementy na całej szerokości */
    align-items: center;
    padding: 10px 0;
    margin: auto;
    width: 100%;
    max-width: 1440px;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 15px;
    flex: 1;
}

a {
    text-decoration: inherit;
}

.default-text-main-page {
    color: #404040;;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 18px;
    white-space: nowrap;
    font-family: "Playfair Display", serif;
}

.default-link {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.logo {
    flex: 1 0 auto;
    display: flex;
    justify-content: left;
}

.logo img {
    border-radius: 50%; 
    width: 75px; 
    height: 75px;
    object-fit: cover; 
}

.main-background {
    top: 120px;
    width: 100%;
    min-height: 60vh;
    background: url('/src/assets/img/background-header.png');
    display: flex;
    align-items: center;
}

.main {
    position: relative;
    margin: 45px auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:#fffbf8;
    font-family: "Playfair Display", serif;
}

.main .main-text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.main .main-text .big-h2 {
    font-size: 45px;
    text-align: center;
    color: #fffbf8;
    font-family: "Playfair Display", serif;
}

.default-h2 {
    font-size: 30px;
    line-height: 50px;
}

h1 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 6rem;
    letter-spacing: -.01562em;
}

.main .main-text .text {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 24px;
    font-size: 18px;
    gap: 15px;
}

.main .main-text .text p {
    text-align: center;
}

.background-footer {
    background: linear-gradient(180deg, #725d5a08, #725d5a00 15.1%);
    width: 100%;
}

/*footer {
    position: relative;
    width: 80%;
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
    align-items: stretch;
    padding: 30px 0;
    margin: 0 auto;
    gap: 20px 25px;
}

footer .img-logo {
    border-radius: 50%; 
    width: 75px; 
    height: 75px;
    object-fit: cover; 
}

footer .left {
    align-self: self-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 15px;
    justify-content: space-between;
}

footer .img-logo {
    height: auto;
}

footer .right {
    display: flex;
    flex-flow: row wrap;
    gap: 35px;
}

footer .copyright {
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #404040; 
    display: flex;
}*/
footer {
    display: flex;
    justify-content: center; /* Wyśrodkowanie całej zawartości w poziomie */
    align-items: center;     /* Wyśrodkowanie elementów w pionie */
    padding: 20px 0;
    background-color: #fffbf8; /* Dodaj tło do stopki, jeśli potrzebne */
}

footer .left,
footer .copyright {
    display: flex;
    align-items: center; 
}

footer .left img {
    width: 75px; 
    height: 75px;
    border-radius: 50%;
    margin-right: 10px; 
}

footer .copyright p {
    margin: 0;
    font-size: 14px;
    color: #404040; 
}

.slogan-background {
    background-color: #fffbf8;
    display: flex;
}

.slogan-border {
    width: 65%;
    margin: 60px auto 45px;
    border-top: 1px solid #404040;
    border-bottom: 1px solid #404040;
}

.slogan {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}