.page-background {
    background: #fffbf8;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    font-style: normal;
    font-weight: 400;
    color: inherit;
    font-family: Raleway, sans-serif;
}

.main-page {
    margin: auto;
    width: 100%;
    position: relative;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-background {
    margin: auto;
    width: 100%;
    position: relative;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Rozkłada elementy na całej szerokości */
    align-items: center;
    padding: 10px 0;
    margin: auto;
    width: 100%;
    max-width: 1440px;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 15px;
    flex: 1;
}

a {
    text-decoration: inherit;
}

.default-text-main-page {
    color: #404040;;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 18px;
    white-space: nowrap;
    font-family: "Playfair Display", serif;
}

.default-link {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.logo {
    flex: 1 0 auto;
    display: flex;
    justify-content: left;
}

.logo img {
    border-radius: 50%; 
    width: 50px; 
    height: 50px;
    object-fit: cover; 
}

.main-background {
    top: 120px;
    width: 100%;
    min-height: 60vh;
    background: url('/src/assets/img/background-header.png');
    display: flex;
    align-items: center;
}